---
layout: default
---
<div class="post">
	
	
	
	
	 
	<div class="contentMain">
		<div class="contentBody">
			<paper-card heading="{{ page.title }}" elevation="2">
				<div class="card-content">
					<div class="paper-header">
					  <header class="post-header">
						  <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
					  </header>
					</div>
					{{ content }}
					{% include comments.html %}
				</div>
			</paper-card>
		</div>
		<div class="sideList">
			
			
  				<h1 class="page-heading"><a href="{{ site.baseurl }}/">Posts</a></h1>
  				<ul class="post-idx-list">
  				{% for post in site.posts %}
  					<li>
  						<span class="post-meta">{{ post.date | date: "%b, %Y" }}</span>
  						<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>  
  					</li>
  				{% endfor %}
  				</ul>
			
		</div>
	</div>
	
	
	
</div>
